@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dans votre fichier CSS ou au début de votre fichier de composant, si vous utilisez des styles en ligne */
.frosted-glass-container {
  filter: url(#smallgoo);
}

.frosted-glass {
  background: inherit;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: inherit;
  padding: 0.7rem;
  margin: 0;
  background-color: rgba(250 , 250, 255, 0.9);
}


